
<div class="panel panel-material-{{ session.session_color }}">
  <div class="panel-heading">
    <h4>Subtopics and Totals</h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="subtopics" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:center;">
        <h2 id="total_points">Total Points:</h2>
        <h4 id="total_type"></h4>
        <h3 id="latest_point">Latest Point By:<h3>
        <h4 id="latest_on">On:</h4>
      </div>
    </div>
  </div>

</div>
