{% extends 'statisticscore/base.html' %}

{% load static %}

{% block page_title %}GA Statistics - Get Started{% endblock %}

{% block jumbotron %}

    <div class="welcome-jumbo jumbotron">
        <div class="container">
            <h1>Changelog</h1>
            <p>If you are wondering what is new and which bugs have been fixed, you have come to the right place.</p>
        </div><!--/.container -->
    </div><!--/.jumbotron -->

{% endblock %}

{% block content %}
  {{ changelog|safe }}
{% endblock %} {% block footer_scripts %} {% endblock %}
