{% extends 'statisticscore/base.html' %}
{% load static %}

{% block page_title %}Login{% endblock %}

{% block content %}

    <br>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Login</h4>
                </div>
                <div class="panel-body ">
                    <form action="" method="post"> {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
