{% extends 'statisticscore/base.html' %} {% load static %} {% block page_title %}Manage: {{ session.name }}{% endblock %} {% block content %}
<h1>Manage {{ session.name }}</h1>
<br>
<div id="results"> <!-- This div is used to inject new information using AJAX -->
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Change Active Debate and Round</h3>
  </div>
  <div class="panel-body">
    <h2>Active Debate: {{ active }}</h2>
    <form class="form-horizontal" role="form" action="{% url 'statisticscore:manage' session.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" class="form-control" name="{{ debate_form.session.html_name }}" id="{{ debate_form.session.id_for_label }}" maxlength=100 value="{{ debate_form.session.value }}">
      <div class="form-group">
        <label class="control-label col-sm-2" for="{{ debate_form.active_debate.id_for_label }}">Set Active Debate:</label>
        <div class="col-sm-10">
          <select class="form-control" name="{{ debate_form.active_debate.html_name }}" id="{{ debate_form.active_debate.id_for_label }}">
            {% for id,text in debate_form.fields.active_debate.choices %}
            <option value="{{ id }}" {% if text == active %} selected {% endif %}>{{ text }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-raised btn-sm btn-primary">Update Active Debate</button>
        </div>
      </div>
    </form>
    <br>
    {% if session.session_statistics != 'C'  %}
    <h2>Active Round: {{ active_round }}</h2>
    <form class="form-horizontal" role="form" action="{% url 'statisticscore:manage' session.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" class="form-control" name="{{ round_form.session.html_name }}" id="{{ round_form.session.id_for_label }}" maxlength=100 value="{{ round_form.session.value }}">
      <div class="form-group">
        <label class="control-label col-sm-2" for="{{ round_form.active_round.id_for_label }}">Set Active Round:</label>
        <div class="col-sm-10">
          <select class="form-control" name="{{ round_form.active_round.html_name }}" id="{{ round_form.active_round.id_for_label }}">
            {% for id,text in round_form.fields.active_round.choices %}
            <option value="{{ id }}" {% if text == active_round %} selected {% endif %}>{{ text }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-raised btn-sm btn-primary">Update Active Round</button>
        </div>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% if session.session_statistics == 'JF' or session.session_statistics == 'SF' or session.session_statistics == 'S' or session.session_statistics == 'R' or session.session_statistics == 'RC' %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Points</h3>
  </div>
  <div class="panel-body content-div" id="point-div">
    <form role="form">
      {% csrf_token %}
      <table class="table table-hover table-responsive" id="point-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Last Changed</th>
            <th>Committee By</th>
            <th>Committee On</th>
            <th>Round No.</th>
            <th>Point Type</th>
            <th>Subtopics</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div id="edit-point" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" role="form" id="point-form">
          <input type="hidden" class="form-control" name="{{ point_form.pk.html_name }}" id="point_{{ point_form.pk.id_for_label }}" value="">
          <input type="hidden" class="form-control" name="{{ point_form.session.html_name }}" id="point_{{ point_form.session.id_for_label }}" maxlength=100 value="{{ session.pk }}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ point_form.committee.id_for_label }}">Commitee:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ point_form.committee.html_name }}" id="point_{{ point_form.committee.id_for_label }}">
                {% for id,text in debate_form.fields.active_debate.choices %}
                <option value="{{ text }}" id="{{ text }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ point_form.debate.id_for_label }}">Debate:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ point_form.debate.html_name }}" id="point_{{ point_form.debate.id_for_label }}">
                {% for id,text in debate_form.fields.active_debate.choices %}
                <option value="{{ text }}" id="{{ text }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ point_form.round_no.id_for_label }}">Round Number:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ point_form.round_no.html_name }}" id="point_{{ point_form.round_no.id_for_label }}">
                {% for id,text in round_form.fields.active_round.choices %}
                <option value="{{ id }}" id="{{ text }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ point_form.point_type.id_for_label }}">Point Type:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ point_form.point_type.html_name }}" id="point_{{ point_form.point_type.id_for_label }}">
                {% for id,text in point_form.fields.point_type.choices %}
                <option value="{{ id }}" id="{{ id }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="point_id_subtopics">Subtopics Addressed:</label>
            <div class="col-sm-10">
              <select multiple class="form-control" name="subtopics" id="point_id_subtopics">
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary btn-raised">Save Point</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %} {% if session.session_statistics == 'JF' or session.session_statistics == 'SF' or session.session_statistics == 'C' or session.session_statistics == 'RC' %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Content Points</h3>
  </div>
  <div class="panel-body content-div" id="content-div">
    <form role="form">
      {% csrf_token %}
      <table class="table table-hover table-responsive" id="content-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Last Changed</th>
            <th>Committee By</th>
            <th>Committee On</th>
            <th>Content</th>
            <th>Point Type</th>
            <th style="min-width: 90px;">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div id="edit-content" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" role="form" method="post" id="content-form">
          {% csrf_token %}
          <input type="hidden" class="form-control" name="{{ content_form.pk.html_name }}" id="content_{{ content_form.pk.id_for_label }}" value="">
          <input type="hidden" class="form-control" name="{{ content_form.session.html_name }}" id="content_{{ content_form.session.id_for_label }}" maxlength=100 value="{{ session.pk }}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ content_form.committee.id_for_label }}">Commitee:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ content_form.committee.html_name }}" id="content_{{ content_form.committee.id_for_label }}">
                {% for id,text in debate_form.fields.active_debate.choices %}
                <option value="{{ text }}" id="{{ text }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ content_form.debate.id_for_label }}">Debate:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ content_form.debate.html_name }}" id="content_{{ content_form.debate.id_for_label }}">
                {% for id,text in debate_form.fields.active_debate.choices %}
                <option value="{{ text }}" id="{{ text }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ content_form.point_type.id_for_label }}">Point Type:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ content_form.point_type.html_name }}" id="content_{{ content_form.point_type.id_for_label }}">
                {% for id,text in content_form.fields.point_type.choices %}
                <option value="{{ id }}" id="{{ id }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ content_form.content.id_for_label }}">Content:</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="{{ content_form.content.html_name }}" rows="5" id="content_{{ content_form.content.id_for_label }}"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Save Content Point</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %} {% if session.voting_enabled %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Votes</h3>
  </div>
  <div class="panel-body content-div" id="vote-div">
    <form role="form">
      {% csrf_token %}
      <table class="table table-hover table-responsive" id="vote-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Last Changed</th>
            <th>Committee By</th>
            <th>Committee On</th>
            <th>In Favour</th>
            <th>Against</th>
            <th>Abstentions</th>
            <th>Absent</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div id="edit-vote" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" role="form" method="post" id="vote-form">
          {% csrf_token %}
          <input type="hidden" class="form-control" name="{{ vote_form.pk.html_name }}" id="vote_{{ vote_form.pk.id_for_label }}" value="">
          <input type="hidden" class="form-control" name="{{ vote_form.session.html_name }}" id="vote_id_session" maxlength=100 value="{{ session.pk }}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ vote_form.committee.id_for_label }}">Commitee:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ vote_form.committee.html_name }}" id="vote_{{ vote_form.committee.id_for_label }}">
                {% for id,text in debate_form.fields.active_debate.choices %}
                <option value="{{ text }}" id="{{ text }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ vote_form.debate.id_for_label }}">Debate:</label>
            <div class="col-sm-10">
              <select class="form-control" name="{{ vote_form.debate.html_name }}" id="vote_{{ vote_form.debate.id_for_label }}">
                {% for id,text in debate_form.fields.active_debate.choices %}
                <option value="{{ text }}" id="{{ text }}">{{ text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ vote_form.in_favour.id_for_label }}">In Favour:</label>
            <div class="col-sm-10">
              <input type="number" min="0" max="50" class="form-control" name="{{ vote_form.in_favour.html_name }}" id="vote_{{ vote_form.in_favour.id_for_label }}" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ vote_form.against.id_for_label }}">Against:</label>
            <div class="col-sm-10">
              <input type="number" min="0" max="50" class="form-control" name="{{ vote_form.against.html_name }}" id="vote_{{ vote_form.against.id_for_label }}" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ vote_form.abstentions.id_for_label }}">Abstentions:</label>
            <div class="col-sm-10">
              <input type="number" min="0" max="50" class="form-control" name="{{ vote_form.abstentions.html_name }}" id="vote_{{ vote_form.abstentions.id_for_label }}" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="{{ vote_form.absent.id_for_label }}">Absent:</label>
            <div class="col-sm-10">
              <input type="number" min="0" max="50" class="form-control" name="{{ vote_form.absent.html_name }}" id="vote_{{ vote_form.absent.id_for_label }}" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" >Total:</label>
            <div class="col-sm-10">
              <h5 id="vote-total"><h5>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-raised">Save Vote</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<script>
  var data_url = '{% url 'statisticscore:data_api' session.pk %}',
      data_latest_url = '{% url 'statisticscore:data_latest_api' session.pk %}',
      data_pk_url = '{% url 'statisticscore:data_pk_api' %}'
      dr_img = '{% static 'statisticscore/images/dr.png' %}',
      point_img = '{% static 'statisticscore/images/point.png' %}';
</script>
<style>
  tbody tr td {
    font-size: 15px;
  }
</style>
{% endblock %} {% block footer_scripts %}
<script type="text/javascript" src="{% static 'statisticscore/js/manage.js' %}" charset="utf-8"></script>
<script>
{% if session.session_statistics == 'JF' or session.session_statistics == 'SF' or session.session_statistics == 'S' or session.session_statistics == 'R' or session.session_statistics == 'RC' %}
requestData('point', 0, 20);
{% endif %} {% if session.session_statistics == 'JF' or session.session_statistics == 'SF' or session.session_statistics == 'C' or session.session_statistics == 'RC' %}
requestData('content', 0, 20);
{% endif %} {% if session.voting_enabled %}
requestData('vote', 0, 20);
{% endif %}
</script>
{% endblock %}
