Django==2.0.1
django-extensions==1.9.9
django-imagekit==3.3
gunicorn==19.6.0
mistune==0.7.3
Pillow==5.2.0
psycopg2==2.7.3.2
raven==6.5.0
whitenoise==3.3.1
dj-database-url==0.4.2
django-s3-storage==0.12.3
django-tables2==1.19.0
django-filter==1.1.0
django-bootstrap3==9.1.0
