boto3
dj-database-url
urllib3
django
django-appconf
django-bootstrap3
django-filter
django-imagekit
django-s3-storage
django-tables2
docutils
gunicorn
jmespath
mistune>=2.0.4
pilkit
pillow
psycopg2-binary>=2.8.6
python-dateutil
pytz
raven
six
whitenoise
django_rename_app
