boto3==1.21.3
botocore==1.24.3
urllib3==1.26.8
dj-database-url
urllib3==1.26.8
django>=2.2.28, <3
django-appconf
django-bootstrap3
django-filter==2.4.0
django-imagekit==4.0.2
django-s3-storage==0.12.4
django-tables2==2.0.5
docutils==0.14
gunicorn
jmespath==0.9.4
mistune>=2.0.4
pilkit==2.0
pillow==9.0.1
psycopg2-binary==2.8.6
python-dateutil==2.8.0
pytz==2018.9
raven==6.10.0
six==1.12.0
whitenoise==4.1.2
django_rename_app
