/* Custom select */
/* Read the article: http://tympanus.net/codrops/2014/07/10/inspiration-for-custom-select-elements/ */
/* Demo: http://tympanus.net/Development/SelectInspiration/ */
/* GitHub: https://github.com/codrops/SelectInspiration */

/* Custom select skin: fullscreen color picker (adjusted for fullscreen form) */
div.cs-skin-boxes {
	background: transparent;
	font-size: 0.65em;
	font-weight: 700;
	max-width: 300px;
	z-index: 2000;
	color: #fff;
}

@media screen and (max-width: 30em) {
	div.cs-skin-boxes { font-size: 1em; }
}

.cs-skin-boxes > span {
	border: 3px solid #292c30;
	border-radius: 5px;
	width: 150px;
	height: 140px;
	font-size: 0.5em;
	padding: 0 0 0 10px;
	background: #555b64;
}

div.cs-skin-boxes:focus > span {
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
}

.cs-skin-boxes > span::before {
	content: '';
	display: block;
	padding-top: 110px;
	margin-left: -10px;
	box-shadow: 0 25px 0 #292c30, inset 0 -10px #292c30;
}

.cs-skin-boxes > span::after,
.cs-skin-boxes.cs-active > span::after {
	top: auto;
	-webkit-transform: none;
	transform: none;
}

.cs-skin-boxes .cs-options {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	background: #1e4e8a;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-boxes.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-boxes .cs-options ul {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.cs-skin-boxes .cs-options li {
	width: 20%;
	height: 25%;
	float: left;
	position: relative;
	cursor: pointer;
	border-radius: 14px;
	overflow: hidden;
	opacity: 0;
	color: rgba(255,255,255,0.6);
	border: 10px solid transparent;
	background-clip: padding-box;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	box-shadow: inset 0 -6em 0 -2em #282b30, inset 0 -1px 1px #000;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li { box-shadow: none; border-width: 3px; border-radius: 8px;}
}

.cs-skin-boxes.cs-active .cs-options li {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(2) {
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(3) {
	-webkit-transition-delay: 0.02s;
	transition-delay: 0.02s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(4) {
	-webkit-transition-delay: 0.03s;
	transition-delay: 0.03s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(5) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(6) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(7) {
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(8) {
	-webkit-transition-delay: 0.07s;
	transition-delay: 0.07s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(9) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(10) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(11) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(12) {
	-webkit-transition-delay: 0.11s;
	transition-delay: 0.11s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(13) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(14) {
	-webkit-transition-delay: 0.13s;
	transition-delay: 0.13s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(15) {
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(16) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(17) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(18) {
	-webkit-transition-delay: 0.17s;
	transition-delay: 0.17s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(19) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(20) {
	-webkit-transition-delay: 0.19s;
	transition-delay: 0.19s;
}

.cs-skin-boxes .cs-options li.cs-selected::after {
	content: '\2714';
	color: rgba(0,0,0,0.1);
	position: absolute;
	font-size: 2em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
	transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
}

.cs-skin-boxes .cs-options li.cs-selected span::after {
	content: '';
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li.cs-selected::after {
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}
}

.cs-skin-boxes .cs-options li.color-F44336 {
	background-color: #F44336;
}

.cs-skin-boxes .cs-options li.color-E91E63 {
	background-color: #E91E63;
}

.cs-skin-boxes .cs-options li.color-9C27B0 {
	background-color: #9C27B0;
}

.cs-skin-boxes .cs-options li.color-673AB7 {
	background-color: #673AB7;
}

.cs-skin-boxes .cs-options li.color-3F51B5 {
	background-color: #3F51B5;
}

.cs-skin-boxes .cs-options li.color-2196F3 {
	background-color: #2196F3;
}

.cs-skin-boxes .cs-options li.color-03A9F4 {
	background-color: #03A9F4;
}

.cs-skin-boxes .cs-options li.color-00BCD4 {
	background-color: #00BCD4;
}

.cs-skin-boxes .cs-options li.color-009688 {
	background-color: #009688;
}

.cs-skin-boxes .cs-options li.color-4CAF50 {
	background-color: #4CAF50;
}

.cs-skin-boxes .cs-options li.color-8BC34A {
	background-color: #8BC34A;
}

.cs-skin-boxes .cs-options li.color-CDDC39 {
	background-color: #CDDC39;
}

.cs-skin-boxes .cs-options li.color-FFEB3B {
	background-color: #FFEB3B;
}

.cs-skin-boxes .cs-options li.color-FFC107 {
	background-color: #FFC107;
}

.cs-skin-boxes .cs-options li.color-FF9800 {
	background-color: #FF9800;
}

.cs-skin-boxes .cs-options li.color-FF5722 {
	background-color: #FF5722;
}

.cs-skin-boxes .cs-options li.color-607D8B {
	background-color: #607D8B;
}

.cs-skin-boxes .cs-options span {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options span { display: none; }
}

.cs-skin-boxes .cs-options li span:hover,
.cs-skin-boxes li.cs-focus span,
.cs-skin-boxes li.cs-selected span {
	color: #fff;
}
