/*h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}*/
.navbar-inverse {
  /*background-image: none;*/
  /*background-color: #1e4e8a;*/
  /*border: none;*/
}
.navbar {
  border-radius: 0px;
  /*font-family: 'Oswald', sans-serif;*/
  margin-bottom: 0px;
}
/*.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}*/
/*.navbar-inverse .navbar-brand {
  color: #fff;
}*/
.top-header {
  display: table;
  width: 100%;
  height: 400px;
  /*color: white;*/
  padding: 80px 30px 50px 100px;
}
@media (max-width: 768px) {
  .top-header {
    padding: 80px 30px 40px 30px;
  }
}
.home-header {
  display: table;
  width: 100%;
  height: 150px;
  /*color: white;*/
  padding: 30px 100px 50px 100px;
}
@media (max-width: 768px) {
  .home-header {
    padding: 30px 30px 40px 30px;
  }
}
.session-name {
  font-size: 60px;
}
