{% extends 'statistics/base.html' %}

{% load staticfiles %}

{% block page_title %}Submit Point: {{ committee.committee_name }}{% endblock %}

{% block content %}
<h1 style="text-align: center">Submit point from {{ committee.committee_name }} on {{ debate }}</h1>
<br>
<form class="form-horizontal" role="form" action="{% url 'statistics:point' session.id committee.id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label col-sm-2" for="{{ form.session.id_for_label }}">Session:</label>
    <div class="col-sm-10">
      {{ form.session.errors }}
      <input type="text" class="form-control" name="{{ form.session.html_name }}" id="{{ form.session.id_for_label }}" maxlength=100 value="{{ form.session.value }}" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="{{ form.committee.id_for_label }}">Commitee:</label>
    <div class="col-sm-10">
      {{ form.committee.errors }}
      <input type="text" class="form-control" name="{{ form.committee.html_name }}" id="{{ form.committee.id_for_label }}" maxlength=7 value="{{ form.committee.value }}" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="{{ form.debate.id_for_label }}">Debate:</label>
    <div class="col-sm-10">
      {{ form.debate.errors }}
      <input type="text" class="form-control" name="{{ form.debate.html_name }}" id="{{ form.debate.id_for_label }}" value="{{ form.debate.value }}" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="{{ form.round_no.id_for_label }}">Round Number:</label>
    <div class="col-sm-10">
      {{ form.round_no.errors }}
      <input type="text" class="form-control" name="{{ form.round_no.html_name }}" id="{{ form.round_no.id_for_label }}" value="{{ form.round_no.value }}" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="{{ form.point_type.id_for_label }}">Point Type:</label>
    <div class="col-sm-10">
      {{ form.point_type.errors }}
      <select class="form-control" name="{{ form.point_type.html_name }}" id="{{ form.point_type.id_for_label }}">
        {% for id,text in form.fields.point_type.choices  %}
        <option value="{{ id }}" >{{ text }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="{{ form.subtopics.id_for_label }}">Subtopics Addressed:</label>
    <div class="col-sm-10">
      {{ form.subtopics.errors }}
      <select multiple class="form-control" name="{{ form.subtopics.html_name }}" id="{{ form.subtopics.id_for_label }}">
        {% for id,text in form.fields.subtopics.choices  %}
        <option value="{{ id }}">{{ text }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{% endblock %}

{% block footer_scripts %}
{% endblock %}
