{% extends 'statistics/debate.html' %}

{% load staticfiles %}

{% block statistics %}
<div class="container">

{% include 'statistics/debate_elements/point_summaries.html' %}

{% endblock %}

{% block footer_scripts %}
<script  type="text/javascript" src="{% static 'statistics/js/content_debate.js' %}"></script>
<script type="text/javascript" src="{% static 'statistics/js/auto_debate_redirect.js' %}" charset="utf-8"></script>
{% if voting_enabled %}
<script  type="text/javascript" src="{% static 'statistics/js/vote_debate.js' %}"></script>
{% endif %}
{% endblock %}
