{% extends 'statistics/debate.html' %}

{% load staticfiles %}

{% block statistics %}
<div class="container">
  <h2>Points Made:</h2>
  <div id="content-div" class="content-div-content">
    <table id="content-table" class="table table-bordered scroll">
      <thead>
        <tr>
          <th>Committee</th>
          <th>Point</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block footer_scripts %}
<script  type="text/javascript" src="{% static 'statistics/js/content_debate.js' %}"></script>
<script type="text/javascript" src="{% static 'statistics/js/auto_debate_redirect.js' %}" charset="utf-8"></script>
{% if voting_enabled %}
<script  type="text/javascript" src="{% static 'statistics/js/vote_debate.js' %}"></script>
{% endif %}
{% endblock %}
