{% extends 'statistics/base.html' %}

{% load staticfiles %}

{% block page_title %}GA Statistics - Get Started{% endblock %}

{% block content %}
</div>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to GA Statistics!</h1>
    <p>Interested in having your session on the GA Statistics platform? You've come to the right place!</p>
  </div><!--/.container -->
</div><!--/.jumbotron -->
<br>
<div class="container">
<h1>What is the EYP?</h1>
<style>
tbody tr td {
    font-size: 15px;
}
</style>

{% endblock %} {% block footer_scripts %} {% endblock %}
