{% extends 'statistics/base.html' %}

{% load staticfiles %}

{% block page_title %}GA Statistics - Get Started{% endblock %}

{% block content %}
    </div>
    <div class="welcome-jumbo jumbotron">
        <div class="container">
            <h1>Welcome to GA Statistics!</h1>
            <p>Interested in having your session on the GA Statistics platform? You have come to the right place!</p>
        </div><!--/.container -->
    </div><!--/.jumbotron -->
    <br>
    <div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <a data-toggle="collapse" href="#what_is"><h4 class="white">What is GA Statistics?</h4></a>
            </div>
            <div id="what_is" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>
                        GA Statistics is a <b>live statistics platform</b> for enhancing General Assemblies of Sessions of the European Youth Parliament.
                        The original idea was that it is interesting for session participants to be able to see in real time who is speaking in GA, and what they are talking about. GA Statistics lets you do this in the easiest way possible.
                    </p>
                    <br>
                    <div style="text-align: center">
                        <img src="http://i.imgur.com/SeH7Qn5.gif" loop=infinite alt="Submitting a GA Stats Point" style="max-width: 500px;">
                        <img src="http://i.imgur.com/SeH7Qn5.gif" loop=infinite alt="Submitting a GA Statistics Point" style="max-width: 500px;">
                        <br>
                        <i>Submitting a point in GA Stats</i>
                        <i>Submitting a point in GA Statistics</i>
                    </div>
                    <br>
                    <p>
                        All you and your officials team have to do is tell GA Stats what is going on in GA
                        (when a committee makes a point, or a vote is held etc.) and we will give you a really nice way of visualising GA.
                        The feedback we have received from delegates so far is that an overwhelming majority of delegates found their GA easier to
                        follow and more engaging when the GA statistics system was in place.
                    </p>
                    <div style="text-align: center">
                        <img src="{% static "statistics/images/ga_follow.png" %}" style="max-width: 500px;">
                        <img src="{% static "statistics/images/ga_quality.png" %}" style="max-width: 500px;">
                        <br>
                        <i>Responses from 150 participants at the Izmir 2015 IS.</i>
                    </div>
                    <br>
                    <p>
                        <b>We are convinced that you GA can be more engaging and of a higher quality with GA Stats, but only if you use it correctly.</b>
                        That is why we have put together this guide to help you through the process.
                    </p>
                    <h2>Prerequisites:</h2>
                    <p>
                    <ul>
                        <li>A stable internet connection for each person who will be submitting statistics at your GA Venue</li>
                        <li>Motivation to implement GA Stats fully - this is not something you can do half-baked.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-heading">
                <a data-toggle="collapse" href="#what_can"><h4 class="white">What can I do with GA Statistics?</h4></a>
            </div>
            <div id="what_can" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        GA Statistics is composed of four main modules. <b>Statistics, Point Content, Voting and Gender Statistics</b>.
                    </p>
                    <br>
                    <div style="text-align: center">
                        <img src="{% static "statistics/images/full_debate.jpg"%}" alt="Statistics Types" style="max-width: 500px;">
                        <br>
                        <i>GA Statistics Modules</i>
                    </div>
                    <br>
                    <h3>Statistics</h3>
                    <p>
                        Usually in the statistics module, chairs will submit a "point" every time their committee speaks in open debate, stating the "subtopic" of the point - what it was about.
                        As the "points" accumulate, GA Stats provides some really cool insight into what is really happening in GA.
                        Are the points evenly distributed among the committees? Which committee had the most direct responses? Which subtopics have been addressed?
                        All this data is shown live in front of the audience, ideally projected behind the board.
                        <br>
                        <b>TLDR; Pretty Graphs</b>
                    </p>
                    <h3>Point Content</h3>
                    <p>
                        As opposed to statistics only stating which topics have addressed during the GA, point content states what was actually said in each point.
                        Imagine it like a tweet for each point, shortly describing what the point was about. This provides a timeline of what has happened during the debates and is very helpful
                        in understanding what has already been said in a debate. You are probably going to need a dedicated group of Journalists/Orgas/Friends to manage these point summaries,
                        as it is a very demanding job and can be difficult for chairs to do while managing their committees during GA. Trust me though, it is worth the effort.
                        <br>
                        <b>TLDR; Short summaries of each point</b>
                    </p>
                    <h3>Voting</h3>
                    <p>
                        The voting module does what it says on the tin - allows digital voting. Digital voting is good for a few reasons, the maths is never wrong, voting is more
                        transparent (you can see how each committee has voted) and - our personal favourite - if it is a close vote, there is an incredibly tense atmosphere as the
                        session watches the votes come in. Again, the chairs submit this data from their phones.
                        <br>
                        <b>TLDR; Digital Voting</b>
                    </p>
                    <h3>Gender Statistics</h3>
                    <p>
                        Gender statistics allows you to track the equality of your General Assembly. A single person tracks gender statistics during GA, and the results are shown only to the
                        session admin. Gender stats is not only useful for you to keep track of the equality of your GA, but it also helps the organisation as a whole, as it makes it possible
                        to view and analyse gender statistics for the whole EYP.
                        <br>
                        <b>TLDR; Tracking GA Equality</b>
                    </p>
                    <h3>What to pick?</h3>
                    <p>
                        You need to pick at least the Statistics or Point Content module - the voting & gender statistics are optional but recommended!
                    </p>

                </div>
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-heading">
                <a data-toggle="collapse" href="#stats_types"><h4 class="white">Statistics Types</h4></a>
            </div>
            <div id="stats_types" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        Now that you know what GA Statistics is composed of - it is good for you to know which types of statistics exist, and which one suits your session best.
                    </p>
                    <br>
                    <h5>Statistics Only</h5>
                    <p>Only switches on the statistics module.</p>
                    <h5>Point Content Only</h5>
                    <p>Only switches on the point content module.</p>
                    <h5>Joint Form Statistics</h5>
                    <p>Allows whoever is submitting data to GA Statistics to submit both Statistics and Point Content from one form.</p>
                    <h5>Split Form Statistics</h5>
                    <p>Both the Statistics and Point Content module will be activated - but each statistics type will be submitted from different forms.</p>
                    <h3>Running Order Statistics (with or without point content)</h3>
                    <div style="text-align: center">
                        <img src="{% static "statistics/images/runningorder.png"%}" alt="Statistics Types" style="max-width: 600px;">
                        <br>
                        <i>Running Order Statistics</i>
                    </div>
                    <p>
                        Different to normal Statistics, where chairs notify GA Stats once they have made a point, telling the system which
                        subtopics the point was on and what the point was about - Running Order Statistics gets chairs to <i>"predict"</i> what
                        their next point will be about. The board uses this information to decide the running order of the GA. Perhaps three points
                        should be taken regarding asylum seekers before returning to the proposing committee? The running order is publicly
                        displayed on the committee page, notifying the GA which committees will be speaking next. Once the board recognises a committee,
                        the point is saved - assuming the subtopic the chair predicted.
                    </p>
                    <p>
                        All <b>Direct Responses</b> are automatically placed first in the queue, and the subtopic is automatically
                        assigned to that of the last recognised point.

                        If a chair at any point in time predicts the wrong subtopic - or the delegate changes his mind and speaks
                        about something different, each chair can edit the subtopics of all points that he/she has submitted on the
                        same page as the chair "predicts" the next subtopic.
                    </p>
                    <p>

                        <b>A note on Running Order Stats:</b>
                        We think that running order stats are the most efficient use of GA statistics as it can significantly
                        increase the quality of GA, however, at the time of writing - Running Order Statistics are fairly new
                        and as such have not been tested as rigorously as the other statistics types - there may be small bugs
                        particularly in the running order page itself. These are usually fixed by refreshing the browser window
                        but errors can crop up. Do report them if you should find any!
                        <b>A note on Running Order Statistics</b><br>
                        We think that running order statistics are the most efficient use of GA statistics as it can significantly
                    </p>


                </div>
            </div>
        </div>
        <div class="panel panel-primary">

            <div class="panel-heading">
                <a data-toggle="collapse" href="#sign_up"><h4 class="white">Let me sign up already!</h4></a>
            </div>
            <div id="sign_up" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        Signing up is easy. Just head over to <b><a target="_blank" href="{% url 'statistics:create_session' %}">{% url 'statistics:create_session' %}</a></b>
                        and enter your session details.
                    </p>
                    <h3>I have created my session. What next?</h3>
                    <p>
                        You should log in! Here: <b><a target="_blank" href="{% url 'statistics:login' %}">{% url 'statistics:login' %}</a></b>
                        Your new username is sessionname_admin, where sessionname is the name of the session you put in <b>without spaces and in all small letters</b>.
                        Use the password you entered on session creation.

                        Then you should customising your statistics by adding your committees and their topics.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">

            <div class="panel-heading">
                <a data-toggle="collapse" href="#manage"><h4 class="white">How to manage GA Statistics</h4></a>
            </div>
            <div id="manage" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        As a GA Statistics admin, you have got a few tools available to you to help you manage your session. There are three main tools at your disposal.
                        When you are on your session page and logged in as the admin of the session, there should be a dropdown menu in the top right hand of the screen with
                        all three tools, debate management, committee management and session settings. There is also a management overview that contains all kinds of useful
                        information for you.
                    </p>
                    <div style="text-align: center">
                        <img src="{% static "statistics/images/tools.png"%}" alt="Tools you can use." style="max-width: 200px;">
                        <br>
                        <i>GA Statistics Admin Tools</i>
                    </div>
                    <br>
                    <h3>Management Overview</h3>
                    <p>
                        The management overview gives you an overview of all links you have at your disposal. This includes all links to the relevant forms for each committee.
                        <br>
                        <b>If you are not quite sure where to go at any point, head to the management overview, it should be able to point you in the right direction.</b>
                    </p>
                    <div style="text-align: center">
                        <img src="{% static "statistics/images/management_overview.png"%}" alt="Mangement overview." style="max-width: 550px;">
                        <br>
                        <i>GA Statistics Admin Tools</i>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %} {% block footer_scripts %} {% endblock %}
