{% extends 'statistics/base.html' %}

{% load staticfiles %}

{% block page_title %}Home{% endblock %}

{% block jumbotron %}

    <div class="container-fluid no-padding">
        <div class="jumbotron">
            <div class="container">
                <h1>What's going on in GA?</h1>
                <p>GA Statistics is a project of the European Youth Parliament that gathers statistics about General Assemblies around Europe.</p>
            </div><!--/.container -->
        </div><!--/.jumbotron -->
    </div><!--/.container-fluid -->

{% endblock %}

{% block content %}
    {% if active_sessions %}
      {% for session in active_sessions %}
        <div class="alert alert-dismissable alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4 style="margin-top: 6px;"><span class="mdi-social-whatshot"></span>   <strong><a href="{% url 'statistics:session' session.pk %}" class="alert-link">{{session.session_name}}</a></strong>'s GA is happening right now!</h4>
        </div>
      {% endfor %}
    {% endif %}
    {% if latest_sessions_list %}
      {% for session in latest_sessions_list %}
        <div class="home-header well well-lg" style="background:  url('{{ session.session_picture.url }}') no-repeat center/cover;">
          <a href="{% url 'statistics:session' session.pk %}" class="no-decoration" style="color: #fff">
            <h1 class="session-name btn btn-primary btn-raised hidden-xs">{{ session.session_name }}</h1>
            <h1 class="alert alert-primary heavy-font-weight text-uppercase hidden-sm hidden-md hidden-lg">{{ session.session_name }}</h1>
            <br>
            <h3 class="btn btn-raised btn-primary hidden-sm hidden-xs">{{ session.session_description }}</h3>
          </a><!--/.Link Element on top of the picture -->
        </div><!--/.home-header well well-lg -->
        <br>
    {% endfor %}

    <div class="container row">
        {% if latest_sessions_list.has_previous %}
          <a class="btn btn-primary btn-raised col-sm-4" href="?page={{ latest_sessions_list.previous_page_number }}">More recent events</a>
        {% endif %}
        {% if latest_sessions_list.has_next %}
          <a class="btn btn-primary btn-raised col-sm-4 pull-right" href="?page={{ latest_sessions_list.next_page_number }}">Older events</a>
        {% endif %}
    </div>

    {% else %}
      <p>No sessions are available.</p>
    {% endif %}

{% endblock %} {% block footer_scripts %} {% endblock %}
