{% extends 'statistics/base.html' %}

{% load staticfiles %}

{% load humanize %}

{% block page_title %}Home{% endblock %}

{% block jumbotron %}

    <div class="container-fluid no-padding">
        <div class="jumbotron">
            <div class="container">
                <h1>What's going on in GA?</h1>
                <p>GA Statistics is a project of the European Youth Parliament that gathers statistics about General Assemblies around Europe.</p>
            </div><!--/.container -->
        </div><!--/.jumbotron -->
    </div><!--/.container-fluid -->

{% endblock %}

{% block content %}
    {% if announcements %}
      {% for announcement in announcements %}
        <div class="alert {{ announcement.announcement_type }}">
          <h4 style="margin-top: 6px;">{{ announcement.announcement_content|safe }}</h4>
        </div>
      {% endfor %}
    {% endif %}
    {% if active_sessions %}
      {% for session in active_sessions %}
        <div class="alert alert-info">
          <h4 style="margin-top: 6px;"><span class="mdi-social-whatshot"></span>   <strong><a href="{% url 'statistics:session' session.pk %}" class="alert-link">{{session.session_name}}</a></strong>'s latest activity was {{ session.session_latest_activity|naturaltime }}</h4>
        </div>
      {% endfor %}
    {% endif %}
    {% if latest_sessions_list %}
      {% for session in latest_sessions_list %}
        <div class="home-header" style="background: #253746 url('{{ session.session_picture_thumbnail.url }}') no-repeat center/cover;">
          <a href="{% url 'statistics:session' session.pk %}" class="no-decoration white white-on-hover">
            <h1 class="session-name-btn heavy-font-weight">{{ session.session_name }}</h1>
            <h3 class="session-name-btn session-description-btn hidden-sm hidden-xs">{{ session.session_description }}</h3>
          </a><!--/.Link Element on top of the picture -->
            <span class="session-type" style="background-color: {% if session.session_type == 'RS' %}#618ECA{% elif session.session_type == 'NS' %}#558B2F{% elif session.session_type == 'IF' %}#253746{% elif session.session_type == 'IS' %}#FF5722{% endif %};">{{ session.session_type }}</span>
        </div><!--/.home-header well well-lg -->
    {% endfor %}

    <div class="container row">
        {% if latest_sessions_list.has_previous %}
          <a class="btn btn-primary btn-raised col-sm-4" href="?page={{ latest_sessions_list.previous_page_number }}">More recent events</a>
        {% endif %}
        {% if latest_sessions_list.has_next %}
          <a class="btn btn-primary btn-raised col-sm-4 pull-right" href="?page={{ latest_sessions_list.next_page_number }}">Older events</a>
        {% endif %}
    </div>

    {% else %}
      <div class="panel-group" id="accordion">

          <div class="panel panel-primary">
              <div class="panel-heading">
                  <a data-toggle="collapse" href="#need-help"><h4 class="white">No sessions are available. How do I create a session?</h4></a>
              </div>
              <div id="need-help" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>
                      It seems you have just got a fresh installation of GA Statistics up and running. Congratulations! Head over to <strong><a href="{% url 'statistics:create_session' %}">{% url 'statistics:create_session' %}</a></strong> to create the first session on this server.
                    </p>

                    <a class="btn btn-success btn-raised" href="{% url 'statistics:create_session' %}">Create your first session</a>

                  </div>
              </div>
          </div>

      </div>
    {% endif %}

{% endblock %} {% block footer_scripts %} {% endblock %}
