{% load staticfiles %}

<nav class="navbar navbar-inverse shadow-z-1" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'statistics:home'%}">GA Statistics</a>
      <a class="navbar-brand" href="http://eyp.org" target="_blank" ><img src="{% static 'statistics/images/eyplogo.svg' %}" alt="eyp.org" class="eyp-logo hidden-xs" /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    <!-- /.navbar-header -->
      <!--/.nav navbar-nav-->

      <ul class="nav navbar-nav navbar-right">

        {% if not committee or user.is_authenticated == False %} <!-- on every page which does not have a session context or if the user isn't logged in, we would like to show the link to the documentation -->
        <li><a href="https://ga-statistics.readthedocs.io/" target="_blank">Documentation</a></li>
        {% endif %}

        {% if user.is_authenticated == False %} <!-- if the user is not logged in, we will show the get started link on every page -->
        <li><a href="{% url 'statistics:get_started' %}">Get Started</a></li>
        {% endif %}

        <li class="dropdown">
          <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated == False %}
              <li><a href="{% url 'statistics:login' %}">Login</a></li>
            {% endif %}
            {% if user.is_staff %}
              <li><a href="/admin/">Go to Admin</a></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'statistics:logout' %}">Logout</a></li>
            {% endif %}
        </li>
        </ul>
      </ul>

      {% if session %}

      <ul class="nav navbar-nav navbar-right">



        {% url 'statistics:session' session.pk as session_url %} <!-- here we set a variable session_url which we will compare to the current url in the next line -->
        {% if not request.get_full_path == session_url %}
        <li><a href="{% url 'statistics:session' session.pk %}">Go to {{ session.name }}</a></li>
        {% endif %} <!-- if not request.get_full_path = session_url -->


      {% if user.is_superuser or user == session.admin_user or user == session.submission_user or admin_session %}



        {% if committee %}

        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Manage {{ committee.name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">

            {% url 'statistics:debate' session.pk committee.pk as committee_url %} <!-- here we set a variable session_url which we will compare to the current url in the next line -->
            {% if not request.get_full_path == committee_url %}
            <li><a href="{% url 'statistics:debate' session.pk committee.pk %}">Back to {{ committee.name }}</a></li>
            {% endif %} <!-- if not request.get_full_path = committee_url -->

            {% if session.session_statistics == "R" or session.session_statistics == "RC" %}
                <li><a href="{% url 'statistics:predict' session.pk committee.pk %}">Manage {{ committee.name }}</a></li>
            {% endif %} <!-- if session.session_statistics == "R" or sesssion.session_statistics == "RC" -->

            {% if session.session_statistics == "C" or session.session_statistics == "SF" or session.session_statistics == "RC" %}
            <li><a href="{% url 'statistics:content' session.pk committee.pk %}">Submit Point Content as {{ committee.name }}</a></li>
            {% endif %} <!-- if session.session_statistics = "C" or session.session_statistics = "SF" -->

            {% if session.session_statistics == "S" or session.session_statistics == "SF" %}
            <li><a href="{% url 'statistics:point' session.pk committee.pk %}">Submit Statistics as {{ committee.name }}</a></li>
            {% endif %} <!-- if session.session_statistics = "S" or session.session_statistics = "SF" -->

            {% if session.session_statistics == "JF" %}
            <li><a href="{% url 'statistics:joint' session.pk committee.pk %}">Submit as {{ committee.name }}</a></li>
            {% endif %} <!-- if session.session_statistics = "JF" -->

            {% if session.voting_enabled %}
            <li><a href="{% url 'statistics:vote' session.pk committee.pk %}">Vote as  {{ committee.name }}</a></li>
            {% endif %} <!-- session.voting_enabled -->

          </ul>
        </li>

        {% endif %} <!-- if committee -->


        {% if user.is_superuser or user == session.admin_user or admin_session %} <!-- The following part should only be visible to the admins of a specific session or superusers-->


        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Manage {{ session.name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">

            <li><a href="{% url 'statistics:overview' session.pk %}">Management Overview</a></li>

                {% if session.session_statistics == "R" or session.session_statistics == "RC" %}
                    <li><a href="{% url 'statistics:runningorder' session.pk %}">Running Order</a></li>
                {% endif %} <!-- if session.session_statistics == "R" or sesssion.session_statistics == "RC"  -->

            <li><a href="{% url 'statistics:manage' session.pk %}">Debate Management</a></li>

            <li><a href="{% url 'statistics:create_committee' session.pk %}">Committee Management</a></li>

              {% if session.gender_enabled %}
                  <li><a href="{% url 'statistics:gender' session.pk %}">Track Gender</a></li>
              {% endif %} <!-- if session.gender_enabled -->

            <li><a href="{% url 'statistics:edit' session.pk %}">Session Settings</a></li>


          </ul>
        </li>



      </ul>

      {% endif %} <!-- if user.is_superuser or user == session.admin_user or admin_session -->
      {% endif %} <!-- if user.is_superuser or user == session.admin_user or user == session.submission_user or admin_session -->
      {% endif %} <!-- if session -->

    </div>
    <!--/.navbar-collapse -->
  </div>
  <!--/.container -->
</nav>
<!--/.navbar -->
