{% extends 'statistics/base.html' %}

{% load staticfiles %}

{% block page_title %}Welcome - {{ session.session_name }}{% endblock %}

{% block jumbotron %}
    <div class="welcome-jumbo jumbotron">
        <div class="container">
            <h1>Welcome to GA Statistics, {{ session.session_name }}</h1>
            <p>Congratulations on creating your GA Statistics Session! There are a few more things you need to do before you're ready to go.</p>
        </div><!--/.container -->
    </div><!--/.jumbotron -->
{% endblock %}

{% block content %}

    {% if not session.session_is_visible %}
        <div class="alert alert-dismissable alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Your session isn't visible to the public yet. After you have added all your committees, change the visibility setting here: <a href="{% url 'statistics:edit' session.pk %}">{% url 'statistics:edit' session.pk %}</a>
        </div>
    {% endif %}
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        This is really important stuff to know, but don't worry, you can always come back here with this url: <a href="{% url 'statistics:overview' session.pk %}">{% url 'statistics:overview' session.pk %}</a>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Usernames</h3>
        </div>
        <div class="panel-body">
            <h4>Your Admin Username is <b>{{ session.session_admin_user }}</b><h4>
                <h5>The Admin Password that you entered when you signed up.</h5>
                <br>
                <h4>Your Submission Username is <b>{{ session.session_submission_user }}</b></h4>
                <h5>The Submission Password that you entered when you signed up.</h5>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ session.session_name }} Links</h3>
        </div>
        <div class="panel-body">
            <h2>Your Session ID is <b>{{ session.pk }}</b></h2>
            <p>You can use your session ID for all kinds of things (some only if you're logged in as an admin).</p>

            <h3>You can add your committees:</h3>
            <h4><a href="{% url 'statistics:add' session.pk %}">{% url 'statistics:add' session.pk %}</a> - This is where you add all your committees and subtopics.</h3>

                <h3>You can edit the session you just made:</h3>
                <h4><a href="{% url 'statistics:edit' session.pk %}">{% url 'statistics:edit' session.pk %}</a> - This is where you can change things like the maximum amount of rounds you'll have.</h3>

                    <h3>You can manage your session:</h3>
                    <h4><a href="{% url 'statistics:manage' session.pk %}">{% url 'statistics:manage' session.pk %}</a> - This is where you let the system know which debate and round is going on at the moment.</h3>
                        <p>It's also where you can edit recent points, contentpoints and votes</p>

                        {% if session.session_gender_enabled %}
                            <h3>You can track the equality of your session:</h3>
                            <h4><a href="{% url 'statistics:gender' session.pk %}">{% url 'statistics:gender' session.pk %}</a> - This is where you add "Gender Points" which only show up in the admin.</h3>
                        {% endif %}

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Committees</h3>
        </div>
        <div class="panel-body">
            {% if committees %}
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Debate URL</th>
                        {% if session.session_statistics == 'JF' %}
                            <th>Joint Form URL</th>
                        {% elif session.session_statistics == 'SF' %}
                            <th>Statistics Form URL</th>
                            <th>Content Form URL</th>
                        {% elif session.session_statistics == 'C' %}
                            <th>Content Form URL</th>
                        {% elif session.session_statistics == 'S' %}
                            <th>Statistics Form URL</th>
                        {% elif session.session_statistics == 'R' or session.session_statistics == 'RC' %}
                            <th>Running Order URL</th>
                        {% endif %}
                        {% if session.session_voting_enabled %}
                            <th>Voting URL<th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for committee in committees %}
                        <tr>
                            <td>{{ committee.pk }}</td>
                            <td>{{ committee.committee_name }}
                            <td><a href="{% url 'statistics:debate' session.pk committee.pk %}">{% url 'statistics:debate' session.pk committee.pk %}</a></td>
                            {% if session.session_statistics == 'JF' %}
                                <td><a href="{% url 'statistics:joint' session.pk committee.pk %}">{% url 'statistics:joint' session.pk committee.pk %}</a></td>
                            {% elif session.session_statistics == 'SF' %}
                                <td><a href="{% url 'statistics:point' session.pk committee.pk %}">{% url 'statistics:point' session.pk committee.pk %}</a></td>
                                <td><a href="{% url 'statistics:content' session.pk committee.pk %}">{% url 'statistics:content' session.pk committee.pk %}</a></td>
                            {% elif session.session_statistics == 'C' %}
                                <td><a href="{% url 'statistics:content' session.pk committee.pk %}">{% url 'statistics:content' session.pk committee.pk %}</a></td>
                            {% elif session.session_statistics == 'S' %}
                                <td><a href="{% url 'statistics:point' session.pk committee.pk %}">{% url 'statistics:point' session.pk committee.pk %}</a></td>
                            {% elif session.session_statistics == 'R' or session.session_statistics == 'RC' %}
                                <td><a href="{% url 'statistics:predict' session.pk committee.pk %}">{% url 'statistics:predict' session.pk committee.pk %}</a></td>
                            {% endif %}
                            {% if session.session_voting_enabled %}
                                <td><a href="{% url 'statistics:vote' session.pk committee.pk %}">{% url 'statistics:vote' session.pk committee.pk %}</a><td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>We highly recommend using the links above and giving them to your chairs/journos/orgas who will fill in data for one committee each. Using those links minimises the probability of something going wrong = less work for you.
                    However, if you only have one small group of people filling in all statistics, there are some special forms that can make their lives a little easier:</p>
                {% if session.session_statistics == 'JF' %}
                    <h5>Joint Form for any committee: <a href="{% url 'statistics:joint_all' session.pk %}">{% url 'statistics:joint_all' session.pk %}</a></h5>
                {% elif session.session_statistics == 'SF' %}
                    <h5>Statistics Form for any committee: <a href="{% url 'statistics:point_all' session.pk %}">{% url 'statistics:point_all' session.pk %}</a></h5>
                    <h5>Content Form for any committee: <a href="{% url 'statistics:content_all' session.pk %}">{% url 'statistics:content_all' session.pk %}</a></h5>
                {% elif session.session_statistics == 'C' %}
                    <h5>Content Form for any committee: <a href="{% url 'statistics:content_all' session.pk %}">{% url 'statistics:content_all' session.pk %}</a></h5>
                {% elif session.session_statistics == 'S' %}
                    <h5>Statistics Form for any committee: <a href="{% url 'statistics:point_all' session.pk %}">{% url 'statistics:point_all' session.pk %}</a></h5>
                {% endif %}
                {% if session.session_voting_enabled %}
                    <h5>Voting Form for any committee: <a href="{% url 'statistics:vote_all' session.pk %}">{% url 'statistics:vote_all' session.pk %}</a></h5>
                {% endif %}
            {% else %}
                <h3>No Committees Yet!</h3>
                <h4>You can make some here: <a href="{% url 'statistics:add' session.pk %}">{% url 'statistics:add' session.pk %}</a></h4>
            {% endif %}
        </div>
    </div>
    <style>
        tbody tr td {
            font-size: 15px;
        }
    </style>

{% endblock %} {% block footer_scripts %} {% endblock %}
