<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Session Creation - GA Statistics</title>
		<meta name="description" content="Create a session on the GA Statistics Platform" />
		<meta name="keywords" content="eyp, european, youth, parliament, ga, statistics" />
		<meta name="author" content="Oliver Stenbom" />
		<link rel="shortcut icon" href="../favicon.ico">

		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'statistics/css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'statistics/css/session_create.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'statistics/css/session_create_component.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'statistics/css/cs-select.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'statistics/css/cs-skin-boxes.css' %}" />
		<script src="{% static 'statistics/js/session_create/modernizr.custom.js' %}"></script>
	</head>
	<body>
		<div class="container">

			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>Session Creation - GA Statistics</h1>
				</div>
				<form id="myform" class="fs-form fs-form-full" action="{% url 'statistics:create_session' %}" method="post" autocomplete="off">
					{% csrf_token %}
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" data-info="Keep it short, place and year please." for="{{ form.name.id_for_label }}">What is the short name of your session?</label>
							{{ form.name.errors }}
							<input class="fs-anim-lower" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" type="text" placeholder="Izmir 2015" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" data-info="This is the longer one, that fully describes the type of your event." for="{{ form.description.id_for_label }}">What is the description of your session?</label>
							<input class="fs-anim-lower" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" type="text" placeholder="78th International Session of the European Youth Parliament" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.email.id_for_label }}" data-info="We're not the kind of people who send spam, but we might send you a friendly email after your session asking how it went">What's your email address?</label>
							<input class="fs-anim-lower" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" type="email" placeholder="john@doe.com" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.picture.id_for_label }}" data-info="This makes the website look very pretty.">Could we get a picture to use for your session?</label>
							<input class="fs-anim-lower" id="{{ form.picture.id_for_label }}" name="{{ form.picture.html_name }}" type="url" placeholder="http://images.google.com/yourface" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.facebook.id_for_label }}" data-info="Useful for people to find your session on fb!">Could we get a link to your session's facebook page?</label>
							<input class="fs-anim-lower" id="{{ form.facebook.id_for_label }}" name="{{ form.facebook.html_name }}" type="url" placeholder="http://facebook.com/yoursession" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.website.id_for_label }}" data-info="Don't worry if you don't have one.">Could we get a link to your session website? (If you've got one..)</label>
							<input class="fs-anim-lower" id="{{ form.website.id_for_label }}" name="{{ form.website.html_name }}" type="url" placeholder="http://aneypsession.com" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.twitter.id_for_label }}" data-info="Don't worry if you don't have one.">Could we get a link to your session twitter? (If you have one)</label>
							<input class="fs-anim-lower" id="{{ form.twitter.id_for_label }}" name="{{ form.twitter.html_name }}" type="url" placeholder="http://twitter.com/yoursession" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.start_date.id_for_label }}" data-info="Year/Month/Date please.">When does your session start?</label>
							<input class="fs-anim-lower" id="{{ form.start_date.id_for_label }}" name="{{ form.start_date.html_name }}" type="date" placeholder="dd/mm/yyyy" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.end_date.id_for_label }}" data-info="Year/Month/Date please.">When does your session end?</label>
							<input class="fs-anim-lower" id="{{ form.end_date.id_for_label }}" name="{{ form.end_date.html_name }}" type="date" placeholder="dd/mm/yyyy" required/>
						</li>
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="{{ form.country.id_for_label }}" data-info="The country your session is going to take place in. Sorry Dubfast, send me a message and I'll make you a special one.">What country is your session going to be in?</label>
							<select class="cs-select cs-select-list fs-anim-lower" name="{{ form.country.html_name }}" id="{{ form.country.id_for_label }}">
								<option value="" disabled="" selected>Pick a country</option>
								{% for id,text in form.fields.country.choices  %}
				        <option value="{{ id }}">{{ text }}</option>
				        {% endfor %}
							</select>
						</li>
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="{{ form.statistics.id_for_label }}" data-info="This defines what kind of statistics will be displayed.">What kind of statistics would you like to use?</label>
							<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower" id="{{ form.statistics.id_for_label }}">
								<span><input id="statistics" name="{{ form.statistics.html_name }}" type="radio" value="S"/><label for="statistics" class="radio-statistics">Statistics Only</label></span>
								<span><input id="content" name="{{ form.statistics.html_name }}" type="radio" value="C"/><label for="content" class="radio-content">Content Only</label></span>
								<span><input id="split" name="{{ form.statistics.html_name }}" type="radio" value="SF"/><label for="split" class="radio-split">Both Statistics &amp; Content, Different Forms</label></span>
								<span><input id="joint" name="{{ form.statistics.html_name }}" type="radio" value="JF"/><label for="joint" class="radio-joint">Both Statistics &amp; Content, One Form</label></span>
							</div>
						</li>
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="{{ form.voting.id_for_label }}" data-info="This defines whether session wide voting is enabled or not.">Would you like to do your voting through GA Statistics?</label>
							<div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower" id="{{ form.voting.id_for_label }}">
								<span><input id="votingyes" name="{{ form.voting.html_name }}" type="radio" value="True"/><label for="votingyes" class="radio-yes">Yes please.</label></span>
								<span><input id="votingno" name="{{ form.voting.html_name }}" type="radio" value="False"/><label for="votingno" class="radio-no">No thanks.</label></span>
							</div>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.max_rounds.id_for_label }}" data-info="Don't worry, you can change this later.">What's the maximum amount of rounds you'll have in a debate?</label>
							<input class="fs-anim-lower" id="{{ form.max_rounds.id_for_label }}" name="{{ form.max_rounds.html_name }}" type="number" placeholder="3" required/>
						</li>
						<li data-input-trigger>
							<label class="fs-field-label fs-anim-upper" for="{{ form.color.id_for_label }}" data-info="This will change things like buttons and the header of your session.">Choose a color for your session.</label>
							<select class="cs-select cs-select-color cs-skin-boxes fs-anim-lower" name="{{ form.color.html_name }}" id="{{ form.color.id_for_label }}">
								<option value="" disabled selected>Pick a color</option>
								<option value="red" data-class="color-F44336">Red</option>
								<option value="pink" data-class="color-E91E63">Pink</option>
								<option value="purple" data-class="color-9C27B0">Purple</option>
								<option value="deep-purple" data-class="color-673AB7">Deep Purple</option>
								<option value="indigo" data-class="color-3F51B5">Indigo</option>
								<option value="blue" data-class="color-2196F3">Blue</option>
								<option value="light-blue" data-class="color-03A9F4">Light Blue</option>
								<option value="cyan" data-class="color-00BCD4">Cyan</option>
								<option value="teal" data-class="color-009688">Teal</option>
								<option value="green" data-class="color-4CAF50">Green</option>
								<option value="light-green" data-class="color-8BC34A">Light Green</option>
								<option value="lime" data-class="color-CDDC39">Lime</option>
								<option value="yellow" data-class="color-FFEB3B">Yellow</option>
								<option value="amber" data-class="color-FFC107">Amber</option>
								<option value="orange" data-class="color-FF9800">Orange</option>
								<option value="deep-orange" data-class="color-FF5722">Deep Orange</option>
								<option value="blue-grey" data-class="color-607D8B">Blue Grey</option>
							</select>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.admin_password.id_for_label }}" data-info="This is the password you will use to delete points, add committees etc.">Enter a password to use for the administration of your session:</label>
							<input class="fs-anim-lower" id="{{ form.admin_password.id_for_label }}" name="admin_password" type="password" placeholder="********" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="{{ form.submit_password.id_for_label }}" data-info="This is the password you can give to anyone who is going to submit data, it prevents eg. delegates from adding a few extra votes.">Enter a password to use when submitting points:</label>
							<input class="fs-anim-lower" id="{{ form.submit_password.id_for_label }}" name="{{ form.submit_password.html_name }}" type="password" placeholder="*********" required/>
						</li>
					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">Create Session</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

		</div><!-- /container -->
		<script src="{% static 'statistics/js/session_create/classie.js' %}"></script>
		<script src="{% static 'statistics/js/session_create/selectFx.js' %}"></script>
		<script src="{% static 'statistics/js/session_create/fullscreenForm.js' %}"></script>
		<script>
			(function() {
				var formWrap = document.getElementById( 'fs-form-wrap' );

				[].slice.call( document.querySelectorAll( 'select.cs-select-color' ) ).forEach( function(el) {
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){
							document.querySelectorAll('span.cs-placeholder')[1].style.backgroundColor = val;
						}
					});
				} );

				[].slice.call( document.querySelectorAll( 'select.cs-select-list' ) ).forEach( function(el) {
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){

						}
					});
				} );

				new FForm( formWrap, {
					onReview : function() {
						classie.add( document.body, 'overview' ); // for demo purposes only
					}
				} );
			})();
		</script>
	</body>
</html>
