{% extends 'statistics/base.html' %}

{% load staticfiles %}
{% load form_extras %}

{% block page_title %}Create Session{% endblock %}

{% block content %}
    </div>
    <div class="welcome-jumbo jumbotron">
        <div class="container">
            <h1>Create your GA Statistics Session</h1>
            <p>Not sure which statistics type to pick? Head over to <a style="color: #FFD700" href="{% url 'statistics:get_started' %}">get started</a> and take a look.</p>
        </div><!--/.container -->
    </div><!--/.jumbotron -->
    <br>
    <div class="container">
    {% if messages %}
        <br>
        <br>
        {% for message in messages %}
            <div class="alert alert-dismissable alert-success shadow-z-2">
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
        {% endfor %}
        <script type="text/javascript">
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);
        </script>
    {% endif %}

    <div class="well well-lg">
        <legend>Create Session:</legend>
        <form id="create-session" class="form-horizontal" enctype="multipart/form-data" role="form" action="{% url 'statistics:create_session' %}" method="post">
            <fieldset>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }} {{ field.errors }}</label>
                        <div class="col-sm-10">
                            {% if field.field.widget|klass == "CheckboxInput" %}
                                <div class="togglebutton">
                                    <label>
                                        {{ field }} {{ field.label }}
                                    </label>
                                </div>
                            {% else %}
                                 {% if field.field.widget|klass == "FileInput" %}
                                     <input type="text" readonly="" class="form-control" placeholder="Browse...">
                                 {% endif %}
                                {{ field }}
                            {% endif %}
                            <p class="help-block">
                                {{ field.help_text }}
                            </p>

                        </div>
                    </div>
                    {% if field.id_for_label == "id_picture" %}
                        <div class="col-sm-10 col-sm-offset-2">
                            <p>
                                Please be careful which picture you upload here so that it does not violate copyright law.
                                When you want to use pictures found through Google or other search engines, you have to make sure that you are allowed to use them freely.
                                Usually pictures found online are not in the public domain and cannot be used.
                                In order not to violate international copyright law, try to use either pictures taken by EYP members or use the websites that allow a free use of their resources.
                                As for the latter ones, you can check such websites as:
                            </p>
                                <ul>
                                    <li>http://www.freeimages.com</li>
                                    <li>http://www.morguefile.com/archive</li>
                                    <li>https://www.flickr.com</li>
                                    <li>http://search.creativecommons.org/</li>
                                </ul>
                            <p>
                                You need to make sure that the picture you use entails the respective (Creative Commons) license for free use without the need to mention the creator.
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary btn-raised">Create Session</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block footer_scripts %}
    <script>

        $('#id_start_date').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
        $('#id_end_date').bootstrapMaterialDatePicker({ weekStart : 0, time: false });

    </script>
{% endblock %}
