{% extends 'statistics/base.html' %}

{% load staticfiles %}

{% block page_title %}{{ session.session_name }}{% endblock %}

{% block content %}
</div>
<div class="container-fluid top-header" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ session.session_picture }}') no-repeat center/cover;">
<h1 class="session-name">{{ session.session_name }}</h1>
<h3 class="session-description">{{ session.session_description }}</h3>

{% if session.session_website_link or session.session_resolution_link or session.session_facebook_link or session.session_twitter_link %}

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-1">

    {% if session.session_website_link %}
    <a class="btn btn-sm btn-material-{{ session.session_color }}-400" href="{{ session.session_website_link }}" target="_blank">{{ session.session_name }}'s Website</a>
    {% endif %}

    {% if session.session_resolution_link %}
    <a class="btn btn-sm btn-material-{{ session.session_color }}-400" href="{{ session.session_resolution_link }}" target="_blank">View Resolutions</a>
    {% endif %}

    {% if session.session_facebook_link %}
    <a class="btn btn-sm btn-material-{{ session.session_color }}-400" href="{{ session.session_facebook_link }}" target="_blank">{{ session.session_name }} on Facebook</a>
    {% endif %}

    {% if session.session_twitter_link %}
    <a class="btn btn-sm btn-material-{{ session.session_color }}-400" href="{{ session.session_twitter_link }}" target="_blank">{{ session.session_name }} on Twitter</a>
    {% endif %}
  </div>
</div>

{% endif %}

</div>

{% if session.session_has_technical_problems %}
  <div class="alert alert-material-{{ session.session_color }}-500 text-center">
    <p>
      Please note that this session experienced technical difficulties during the GA. As a result some data might be incomplete.
    </p>
  </div>
{% endif %}

{% if no_stats %}
  <div class="alert alert-material-{{ session.session_color }}-500 text-center">
    <p>
      GA hasn't started yet at {{ session.session_name }}!
    </p>
  </div>
{% endif %}

<div class="container" style="margin-top:20px;">

  {% if active_debate %}
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 style="margin-top: 6px;"><span class="mdi-social-whatshot"></span>   <strong><a href="{% url 'statistics:debate' session.pk active_debate_committee.pk %}" class="alert-link">{{active_debate_committee.committee_name}}</a></strong> is going on!</h4>
      </div>
  {% endif %}

  <div class="panel panel-material-{{ session.session_color }}">

    <div class="panel-heading">
      <h4>Debates</h4>
    </div>

    <div class="panel-body">
      {% if session_committee_list %}
            <div class="row">
              {% for committee in session_committee_list %}
                <div class="debate-box col-md-4">
                    <a href="{% url 'statistics:debate' committee.session.id committee.id %}" class="btn btn-primary btn-material-{{ session.session_color }}-800">{{ committee.committee_name }}</a>
                  <p>
                    {{ committee.committee_topic }}
                  </p>
                </div>
                {% cycle "" "" "</div><div class='row'>" %} <!-- this ends the row after every third committee, thus ensuring that they are all properly aligned -->
              {% endfor %}
          </div>
      {% else %}
            <h2>No committees are available yet!</h2>
      {% endif %}
    </div>

  </div>




<div class="panel panel-material-{{ session.session_color }}">
  <div class="panel-heading">
    <h4>Points Made Summary</h4>
  </div>

  <div class="panel-body">
    <div id="points" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

</div>


{% if voting_enabled %}
<script>
var voting_enabled = true;
var voting_url = '{% url 'statistics:session_vote_api' session_id %}';

</script>

<div class="panel panel-material-{{ session.session_color }}">
  <div class="panel-heading">
    <h4>Voting Summary</h4>
  </div>

  <div class="panel-body">
    <div id="votes" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

</div>

{% else %}
<script> var voting_enabled = false; </script>
{% endif %}

<div class="panel panel-material-{{ session.session_color }}">
  <div class="panel-heading">
    <h4>Totals</h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:center;">
        <h2 id="total_points">Total Points:</h2>
        <h4 id="total_type"></h4>
        <h3 id="mpp">Minutes Per Point:</h3>
      </div>
      {% if voting_enabled %}
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:center;">
        <h2 id="total_votes">Total Votes:</h2>
        <h3 id="total_in_favour">Total In Favour:</h3>
        <h3 id="total_against">Total Against:</h3>
        <h3 id="total_abstentions">Total Abstentions:</h3>
        <h3 id="total_absent">Total Absent:</h3>
      </div>
      {% endif %}
    </div>
  </div>

</div>

<script type="text/javascript">
  var session = {{ session_id }};
  var session_url = '{% url 'statistics:session_api' session_id %}';
</script>

{% endblock %}

{% block footer_scripts %}
<script  type="text/javascript" src="{% static 'statistics/js/session.js' %}"></script>
{% if voting_enabled %}
<script  type="text/javascript" src="{% static 'statistics/js/session_vote.js' %}"></script>
{% endif %}
{% endblock %}
