{% extends 'statistics/base.html' %}

{% load staticfiles %}

{% block page_title %}Add - {{ session.session_name }}{% endblock %}

{% block content %}
<h1>Edit Committees: {{ session.session_name }}</h1>
{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissable alert-success shadow-z-2">
  <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
</div>
{% endfor %}
<script type="text/javascript">
window.setTimeout(function() {
  $(".alert").fadeTo(500, 0).slideUp(500, function(){
    $(this).remove();
  });
}, 5000);
</script>
{% endif %}
<div class="panel panel-material-{{ session.session_color }}-300">
  <div class="panel-heading">
      <h3 class="panel-title">Add New Committee:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
    <label class="control-label col-sm-2" for="inputLarge">Committee Name:</label>
      <div class="col-sm-10">
        <input class="form-control input-lg" type="text" id="inputLarge" placeholder="AFET">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="inputLarge">Committee Topic:</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">Your Committee Topic</span>
      </div>
    </div>
    <div class="form-group">
      <div id="add_subtopics">
        <label class="control-label col-sm-2" for="inputLarge">Subtopics:</label>
        <div class="col-sm-10">
          <input class="form-control input-sm" type="text" id="General-Subtopic" value="General">
        </div>
        <br>
        <br>
        <div id="subtopic-1">
          <label class="control-label col-sm-2" for="inputLarge"></label>
          <div class="col-sm-8">
            <input class="form-control input-sm" type="text" id="subtopic" value="">
          </div>
          <div class="col-sm-2">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-material-{{ session.session_color }}-800 btn-sm" type="button" onclick="deleteInput('subtopic-1')">Delete</button>
            </span>
          </div>
        </div>
      </div>
      <label class="control-label col-sm-2" for="inputLarge"></label>
      <div class="col-sm-10">
        <a href="javascript:void(0)" class="btn btn-primary btn-material-{{ session.session_color }}-800 btn-sm" onclick="addInput('add_subtopics');" >Add Subtopic</a>
      </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary btn-material-{{ session.session_color }}-800">Save Committee</button>
        </div>
    </div>
  </fieldset>
</form>
</div>
</div>
<script>
function addInput(divName){
     if (counter_subtopics == limit_subtopics)  {
          alert("More than 10 subtopics is just confusing!");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.setAttribute("id", "subtopic-" + counter_subtopics)
          newdiv.innerHTML = "<label class='control-label col-sm-2' for='inputLarge'></label><div class='col-sm-8'><input class='form-control input-sm' type='text' id='subtopic' value=''></div><div class='col-sm-2'><span class='input-group-btn'><button class='btn btn-primary btn-sm btn-material-{{ session.session_color }}-800' type='button' onclick='deleteInput(" + '"subtopic-' + counter_subtopics + '"' + ")' >Delete</button></span></div>";
          document.getElementById(divName).appendChild(newdiv);
          counter_subtopics++;
     }
}
</script>
{% endblock %} {% block footer_scripts %}
<script  type="text/javascript" src="{% static 'statistics/js/session_add.js' %}"></script>
{% endblock %}
